<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hangxinTax">

    <select id="querytaxLev" parameterType="String" resultType="String">
        select Xyjb
        from dwa_base_xyxx
        where nsrsbh = #{nsrsbh}
        order by Nd desc
        limit 1
    </select>

    <select id="querytaxLevBef" parameterType="String" resultType="String">
        select Xyjb
        from dwa_base_xyxx
        where nsrsbh = #{nsrsbh}
        order by Nd desc
        limit 1,1
    </select>

    <select id="querytaxStatus" parameterType="String" resultType="String">
        select Nsrztmc
        from dwa_base_djxx
        where nsrsbh = #{nsrsbh}
    </select>
    <select id="querytaxNsrlx" parameterType="String" resultType="int">
        select count(1)
        from dwa_base_djxx
        where nsrsbh = #{nsrsbh}
          and nsrlx like '%一般纳税人%'
    </select>


    <select id="queryzzsNse" parameterType="map" resultType="double">
        select sum(ynse)
        from dwa_base_sbxx
        where nsrsbh = #{nsrsbh}
        and zsxmdm = #{zsxmdm}
        and sssqq >= #{begindate}
        and sssqz &lt;#{enddate}
        and rptflg in ('M', 'Q')
    </select>

    <select id="querylastYearTax" parameterType="map" resultType="double">
       select sum(ynse)
        from dwa_base_sbxx
        where nsrsbh = #{nsrsbh}
        and zsxmdm = #{zsxmdm}
        and substr(sssqz, 1, 4) = #{year}
        and rptflg  in ('M', 'Q')
    </select>

    <select id="queryYSXSRTax" parameterType="map" resultType="double">
        select sum(ysxse)
        from dwa_base_sbxx
        where nsrsbh = #{nsrsbh}
          and zsxmdm = #{zsxmdm}
          and substr(sssqz, 1, 4) = #{year}
          and rptflg  in ('M', 'Q')
    </select>



    <select id="queryRecentlyDate" parameterType="map" resultType="string">
        select DATE_FORMAT(IFNULL(max(sssqz),'1970-01-01'), '%Y-%m-%d') AS "sssqz"
        from dwa_base_sbxx
        where nsrsbh = #{nsrsbh}
          and zsxmdm = '10101'
          and rptflg in ('M', 'Q')
    </select>

    <select id="querytaxSaletenper" parameterType="map" resultType="double">
        select sum(ysxse)
        from dwa_base_sbxx
        where nsrsbh = #{nsrsbh}
        and zsxmdm = #{zsxmdm}
        and sssqq>= #{begindate}
        and sssqz&lt;#{enddate}
        and rptflg='M'
    </select>
    <select id="querytaxInPaid" parameterType="map" resultType="double">
        select sum(ytse)
        from dwa_base_sbxx
        where nsrsbh = #{nsrsbh}
          and zsxmdm = #{zsxmdm}
          and sssqq>= #{begindate}
          and sssqz&lt;#{enddate}
    </select>

    <select id="querytaxSale3M" parameterType="map" resultType="double">
        select sum(ysxse)
        from dwa_base_sbxx
        where nsrsbh = #{nsrsbh}
          and zsxmdm = #{zsxmdm}
          and sssqq>= #{begindate}
          and sssqz&lt;#{enddate}
          and rptflg in ('M','Q')
    </select>

    <select id="querytaxmainBusDown" parameterType="map" resultType="map">
        select ysxse as "ysxse",
               rptflg as "rptflg"
        from dwa_base_sbxx
        where nsrsbh = #{nsrsbh}
        and zsxmdm = #{zsxmdm}
        and sssqq>= #{begindate}
        and sssqz &lt;#{enddate}
        and rptflg in ('M', 'Q')
    </select>

    <select id="queryYSXSR" parameterType="map" resultType="double">
       select sum(ysxse)
        from dwa_base_sbxx
        where nsrsbh = #{nsrsbh}
        and zsxmdm = #{zsxmdm}
          and sssqq >= #{begindate}
          and sssqz &lt;#{enddate}
        and rptflg in ('M', 'Q')
    </select>

    <select id="queryOveTax" parameterType="map" resultType="int">
        select count(1)
          from dwa_base_wfwzxx
         where nsrsbh = #{nsrsbh}
           and Sswfsd_dm in ('050202', '050204', '050204')
           and DJRQ >=  #{begindate}
    </select>

    <select id="queryTax3MIllegal_unDeal" parameterType="String" resultType="int">
		select count(1)
	    from dwa_base_wfwzxx
	    where SSWFXWCLZT_DM!='38'
	    and NSRSBH=#{nsrsbh}
        and TIMESTAMPDIFF(MONTH, DJRQ,sysdate())>=3
	</select>

    <select id="queryTax3MIllegal_OverunDeal" parameterType="String" resultType="int">
        select count(1)
        from dwa_base_wfwzxx
        where SSWFXWCLZT_DM='38'
          and NSRSBH=#{nsrsbh}
          and TIMESTAMPDIFF(MONTH, DJRQ,sysdate())>=3
    </select>

    <select id="queryLasProfit" parameterType="map" resultType="double">
        select 	ifnull(sum(lrze),0) as "lrze"
            from (select case
                 when kjzdzz_dm = '201' then
                  bys
                 when kjzdzz_dm = '102' then
                  byje
                 when kjzdzz_dm = '101' then
                  bqje
                else 0
               end as lrze
          from dwa_base_lrbxx
         where nsrsbh =  #{nsrsbh}
           and substr(SSQZ, 1, 4) =#{lastyear}
           and TIMESTAMPDIFF(DAY, SSQQ,Ssqz)>=360
        ) a
    </select>

    <select id="queryTax3MIllegal" parameterType="String" resultType="int">
         select count(1)
            from dwa_base_wfwzxx
            where nsrsbh = #{nsrsbh}
            and djrq>=#{begindate}
    </select>

    <select id="queryInterTaxSale" parameterType="map" resultType="map">
        select ysxse as "ysx",
        DATE_FORMAT(sssqq, '%Y-%m-%d') AS "sssqz",
        rptflg as "freq"
        from dwa_base_sbxx
        where nsrsbh = #{nsrsbh}
        and zsxmdm = #{zsxmdm}
        and sssqq >= #{begindate}
        and sssqz &lt;#{enddate}
        and rptflg in ('M', 'Q')
    </select>
    
    <select id="querytax2YNetAss" parameterType="map" resultType="double">
       select sum(Qmye_Qy)
          from dwa_base_zcfzxx
         where nsrsbh = #{nsrsbh}
           and Qyxmmc like '所有者权益%'
           and TIMESTAMPDIFF(DAY, SSQQ,Ssqz)>=360
           and (substr(SSQQ, 1, 4) = #{lastyear} or substr(SSQQ, 1, 4) =
               #{beforlastyear})
    </select>
    
    <select id="queryTax2YPro" parameterType="map" resultType="double">
        select ifnull(sum(bnljje), 0)
          from dwa_base_lrbxx
         where nsrsbh = #{nsrsbh}
           and hmc like '%、净利润%'
            and TIMESTAMPDIFF(DAY, SSQQ,Ssqz)>=360
           and (substr(SSQQ, 1, 4) = #{lastyear} or
               substr(SSQQ, 1, 4) = #{beforlastyear})
    </select>

    <select id="queryRecentlyIncomeTaxDate" parameterType="String" resultType="String">
        select DATE_FORMAT(IFNULL(max(sssqz),'1970-01-01'), '%Y-%m-%d') AS "sssqz"
        from dwa_base_sbxx
        where nsrsbh =  #{nsrsbh}
          and zsxmdm = '10104'
          and rptflg ='Q'
    </select>
    <select id="queryIncTax" parameterType="map" resultType="double">
        select sum(ynse)
        from dwa_base_sbxx
        where nsrsbh = #{nsrsbh}
          and zsxmdm = '10104'
          and substr(sssqz, 1, 4) = #{year}
          and rptflg ='Q'
    </select>

    <select id="querAssetDebtMaxEndDate" parameterType="hashmap" resultType="string">
        select Max(ssqz)
        from dwa_base_zcfzxx t
        where nsrsbh =#{nsrsbh}
        order by ssqz desc
    </select>

    <select id="queryEntTax2YNetAssNew" parameterType="hashmap" resultType="double">
        select ifnull(tax2YNetAss,0)
        from (select ifnull(qmye_qy, 0) + ifnull(ncye_qy, 0) as tax2YNetAss
        from dwa_base_zcfzxx t
        where nsrsbh =#{nsrsbh}
          and qyxmmc like '所有者权益%'
          and ssqz=#{endDate}
        order by ssqz desc, ssqq asc
        limit 1) a
    </select>

    <select id="queryProfitMaxSsqz" parameterType="hashmap" resultType="string">
        select Max(ssqz)
        from dwa_base_lrbxx t
        where  nsrsbh=#{nsrsbh}
        order by ssqz desc
    </select>

    <select id="queryEntTax2YProNew" parameterType="hashmap" resultType="double">
           select ifnull(tax2YPro,0)
           from ( select ifnull(bnljje,0) as tax2YPro
            from dwa_base_lrbxx t
            where hmc like '%、净利润%'
              and nsrsbh=#{nsrsbh}
              and ssqz=#{endDate}
              and bnljje is not null
            order by ssqz desc,ssqq asc
                limit 1
            ) a
    </select>

    <select id="queryEntTax2YProNew1" parameterType="hashmap" resultType="double">
        select ifnull(tax2YPro,0)
        from (select ifnull(bqje, 0) as tax2YPro
                from dwa_base_lrbxx t
                where hmc like '%、净利润%'
                  and nsrsbh = #{nsrsbh}
                  and ssqz in (#{endDate}, #{endDate1})
                  and ssqq in (#{startDate}, #{startDate1})
                  and bnljje is null
                order by ssqz desc, ssqq asc
                   limit 1 ) a
    </select>

    <select id="queryCancelTimes" parameterType="string" resultType="int">
        select count(1)
        from  HSYH_FPXX_HCFPHZ a
        where nsrsbh=#{nsrsbh}
        and TIMESTAMPDIFF(MONTH, kprq,sysdate())&lt;=13
        and TIMESTAMPDIFF(MONTH, kprq,sysdate())>0
        and zfbz='Y'
    </select>

    <select id="queryCancelAmount" parameterType="string" resultType="double">
        select  ifnull(sum(je)+sum(se),0)
        from  HSYH_FPXX_HCFPHZ a
        where nsrsbh=#{nsrsbh}
        and TIMESTAMPDIFF(MONTH, kprq,sysdate())&lt;=13
        and TIMESTAMPDIFF(MONTH, kprq,sysdate())>0
        and zfbz='Y'
    </select>


</mapper>